.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #1c2c4b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(253, 54, 54);
}

.App-link {
  color: #4e0101;
  background-color: rgb(108, 165, 165);
  min-height: 5vh;
  font-size: calc(30px + 2vmin);
  display: flex;
}

.miel-pops {
  color: #000000;
  background-color: rgb(255, 255, 255);
  min-height: 5vh;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
